div.singlebutton {
    margin: 0;
}

.controlbuttons>table {
	display: inline-table;
}


.mailboxwrapper table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	#border: 0;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}

.mailboxwrapper img {
	border: 0;
}

.mailtoptitle{
        margin-top: 3px;
        font-size: 90%;
	text-align: center;
}

.mailmidletable {
	height: 500px;
	border: 1px;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
        background-color: #ffffff;
}

.mailmidletable textarea, .mailmidletable input {
	width: 90%;
}

.mailmidletable .filemanager {
	width: 92%;
}

.mailmidletable .feditor>div {
	width: 92%;
}

.mailboxheader {
        font-size: 90%;
        padding: 4px;
        font-weight: bold;
        color: #666666;
}

.mailboxes {
	width: 15%;
	background-image: url([[pix:assignsubmission_mailsimulator|mailboxes-bg]]);
}

.mailbox {
        font-size: 80%;
        height 24px;
}

.mailbox img {
        vertical-align: text-bottom;
}

.mailboxselect {
        font-size: 80%;
        height 24px;
        background-image: url([[pix:assignsubmission_mailsimulator|mailbox-selected]]);
}

.mailboxselect img {
        vertical-align: text-bottom;
}

.mailheaders {
	width: 35%;
	min-height: 400px;
	border-left-style: solid;
	border-left-color: #999999;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-right-width: 1px;
}

.mailmessage {
    padding: 5px;
    background: #ffffff;

}

mailheadertd {
	margin: 10px;
	padding: 10px;
}

.statusimg {
        width: 16px;
        margin: 0;
	padding: 0;
}

.mailheadertable {
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-bottom-width: 1px;
        cursor:pointer;
        font-size: 10px;
}

.mailheadertableselected {
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-bottom-width: 1px;
        color: #ffffff;
        background-image: url([[pix:assignsubmission_mailsimulator|header-selected-bg]]);
}

.mailheadertable td {
    font-size: 90%;
}

.mailheadertableselected td{
    font-size: 90%;
}

.headerdate {
	text-align: right;
        color: #3366cc;
}

.headerdateselected {
	text-align: right;
        color: #ffffff;
}

.allmailheader {
        background:lightgray;
        width: 100%;
        border-top: 1px;
        border-top-style: solid;
        font-size: 90%;
}

.allmailheader td {
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 2px;
}


/* ----- Background images ----- */

.shadow-bottom-bg {
	background-repeat: repeat-x;
	background-image: url([[pix:assignsubmission_mailsimulator|shadow-bg-bottom]]);
	height: 47px !important; 
}
.shadow-left-bg {
	background-repeat: repeat-y;
	background-image: url([[pix:assignsubmission_mailsimulator|shadow-bg-left]]);
}
.shadow-right-bg {
	background-repeat: repeat-y;
	background-image: url([[pix:assignsubmission_mailsimulator|shadow-bg-right]]);
}
.window-top-bg {
	background-repeat: repeat-x;
	background-image: url([[pix:assignsubmission_mailsimulator|window-top-bg]]);
	height: 59px;
}


div.scroll {
        height: 100%;
        overflow: auto;
}

.window-top-bg {
	vertical-align: middle;
}

@media (min-width: 1200px) {
	.mform .fitem div.fitemtitle {
		width: 150px !important;
	}
	.mailmidletable .mform .fitem .felement {
		margin-left: 175px !important;	
		padding-right: 10px;
	}
	.mform>fieldset>div {
		padding-top: 10px;
	}
}

@media (max-width: 1199px) {
	.mform .fitem {
		padding-left: 10px;
		margin-bottom: 0px !important;
		padding-right: 10px;
	}
	.mailmidletable textarea, .mailmidletable input {
	width: 97%;
	}
	.mailmidletable .filemanager {
		width: 99%;
	}
	.mailmidletable .feditor>div {
	width: 99%;
	}
}

@media (max-width: 900px) and (min-width: 769px) {
	.window-top-bg {
		vertical-align: top;
	}
	.shadow-left-bg, .shadow-right-bg {
		min-width: 32px;
	}
	.row-fluid>section>div>div {
		width: 95% !important;
	}
}

@media (max-width: 679px) {
	.row-fluid>section>div>div {
		width: 95% !important;
	}
	.shadow-left-bg, .shadow-right-bg {
		background-image: none;
	}
	.row-fluid>section>div>div>table>tbody>tr>td>img{
		height: 0;
	}
	.window-top-bg {
		background-image: none;
	}
}
